<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>how Page for Pet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
<body>
    <h1>Say Hello to {{ pet.pet_name }} </h1>
    <p>Little Fun Fact: {{ pet.pet_fact }}</p>
    <img src="{{ pet.pet_photo }}" alt="photo of pet">
</body>

      
</body>

</html>